<!DOCTYPE html>
<html>
<head>
    <title>Main Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="card">
        <h2>🍽️ Main Menu</h2>
        <!-- <p>Select Your Order:</p> -->
        <div style="margin-top: 20px;">
            <a href="/drinks" class="home-button">🥤 Choose Coffee</a>
            <a href="/food" class="home-button" style="margin-left: 10px;">🥐 Choose Pastries</a>
        </div>
    </div>
</body>
</html>
